html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
}

h1 {
  color: #00A79D;
  font-family: 'Roboto Slab', serif;
  font-size: 75px;
  margin: 0px;
  padding: 30px;
}
hr {
  background-color: black;
  width: 100%;
}
span {
  margin-top: 300px;
}
.second-title-word {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
}

.page-content {
 width: 100%;
}

.input-article {
  background-color: #E5F3F2;
  height: 40%;
}

.idea-card {
  margin-left: 17.5%;
  margin-right: 17.5%;
}

.save-button {
  background-color: #00A79D;
  color: #FFF;
  font-size: 20px;
  height: 50px;
  margin-bottom: 60px ;
  margin-left: 17.5%;
  margin-right: 17.5%;
  margin-top: 50px;
  text-align: center;
  width: 65%;
}

.save-button:hover {
  background-color: #045E55;
}

input { 
    border: 2px solid #939598;
    font-size: 25px;
    height: 40px;
    margin-top: 50px;
    width: 65%;
  }

  .search-input {
    border: 2px solid #939598;
    color: #939598;
    margin-top: 30px;
  }

  .search-input-form {
    background-color: white;
    margin-top: 30px;
  }

  .ideas-article {
    background-color: #FFF;
    margin-top: 60px;
  }

  .card-title {
    color: #6D6E71;
    font-size: 30px;
    margin-top: 0;
    text-align: left;
  }

  .delete-button {
    margin-left: 90%;
    margin-right: 10%
    margin-top: 30px;
    position: relative;
    width: 10%;
  }

  .idea-card-body {
    color: #939598;
    font-size: 20px;
    height: 50px;
    margin-top: 0;
    position: absolute;
    text-align: left;
  }

  .upvote-button {
    background-color: transparent;
    background-image: url('upvote.svg');
    border: 0px solid #fff;
    display: inline-block;
    float: left;
    height: 50px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 50px;

  }
.icon {
  height: 30px;
  width: 30px;
}
  div {
    margin: 20px;
  }
  .downvote-button {
    background-color: transparent;
    background-image: url('downvote (1).svg');
    border: 0px solid #fff;
    float: left;
    height: 50px;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-top: 15px;
    width: 50px;
  }
  .downvote-button:hover  {
    background-image: url('downvote-hover (1).svg');
  }
  .upvote-button:hover {
    background-image: url('upvote-hover.svg');
  }
  .delete-button:hover {
    background-image: url('delete-hover.svg');
  }
  .delete-button {
    background-color: #FFF;
    background-image: url('delete.svg');
    border: 0px solid #fff;
    float: left;
    height: 50px;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-top: 15px;
    width: 4%;
    width: 50px;
  }
  .quality { 
    color: #6D6E71;
    float: left;
    font-size: 22px;
    margin-left: 20px;
    margin-right: 10px;
    }

   .quality-value {
    color: #6D6E71;
    float: left;
    font-size: 22px;
   }