* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}
h1 {
  color: #00A79D;
  font-family: Roboto-Slab;
}

.second-title-word {
  color: #6D6E71
}

.page-content {
 width: 100%;
 font-size: 50px;
 background-color: #E5F3F2;
}

.input-article {
  height: 40%
  background-color: #E5F3F2;
}

section, article, form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

section {
  margin: auto;
  width: 60%;
  display: flex;
  text-align: center;
}

.idea-card {
  border: 5px solid green;
}

.save-button {
  color: #FFF;
  background-color: #00A79D;
  width: 65%;
  text-align: center;
}